<!DOCTYPE html>
<html>
<head>
    <title>Logout failed</title>
    <link rel="stylesheet" type="text/css" href="rainback.css">
    <link rel="icon" type="image/png" href="favicon.png" sizes="16x16">
    <style>
#login {
width: 50%;
margin: auto;
box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
#login {
width: 100%;
box-sizing: border-box;
}
}
</style>
</head>
<body>
    <p style="text-align: center">
    <a href=/><img id=logo src="nav-side-logo.png"></img></a>
    </p>
    <div class=block id=login>
        <h1>Logout failed</h1>
        <p>The server failed to log you out.</p>
        <form method=post style='text-align: center'>
        <input type=submit value="Log out"><br/>
        </form>
    </div>
<div style="clear: both"></div>
<div style="display: block; text-align: center; margin: 1em 0">
    <div class=slot style="display: inline-block;">
        &copy; 2018 <a href='https://rainback.com'>Rainback, Inc.</a> All rights reserved.</a>
    </div>
</div>
</body>
</html>
