<!DOCTYPE html>
<html>
<head>
<title>Sign up for Rainback</title>
<link rel="stylesheet" type="text/css" href="rainback.css">
<link rel="icon" type="image/png" href="favicon.png" sizes="16x16">
<style>
#login {
width: 50%;
margin: auto;
box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
#login {
width: 100%;
box-sizing: border-box;
}
}
</style>
</head>
<body>
    <div class="indexgrid">

    <div class="logo" style="text-align: center">
    <a href=/><img id=logo src="nav-side-logo.png"></img></a>
    </div>
    <div class="block ; content" id="login" style="background-color: orange; border-color: yellow">
        <h2>Sign up for Rainback</h2>
        <p><%=status%></p>
        <form class="inputstyle" method=post>
        <div><label class="widelable" for=username>Username:</label><input type=text name=username value="<%=username%>"></div>
        <div><label class="widelable" for=password>Password:</label><input type=password name=password></div>
        <div><label class="widelable" for=password_again>Password (again):</label><input type=password name=password_again></div>
        <div style="text-align: center"><input class="widebutton"name=signup type=submit value="Sign up" style="background: gold">
        <div style="text-align: center">
        <a href="/login">Log in</a>
        </div>
    </div>
        </form>
    </div>
<div class="footer" ; style="display: block; text-align: center; ">
    <div class=slot style="display: inline-block;">
        &copy; 2018 <a href='https://rainback.com'>Rainback, Inc.</a> All rights reserved.</a>
    </div>
</div>
</div>
</body>
</html>
